name: geocat_comp_build
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.13  # minimum support 3.10
  - cf_xarray>=0.3.1    # min version 0.3.1 for dependencies
  - cftime
  - dask
  - distributed
  - eofs
  - metpy
  - numba
  - numpy<2.0
  - scipy<1.15
  - pandas
  - pint
  - xarray
  - xskillscore
# Packages listed below are for testing
  - geocat-datafiles
  - netcdf4
  - parameterized
  - pytest
  - pytest-cov
# The package below is for formatting standards
  - pre-commit
