name: geocat_comp_build
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.14  # minimum support 3.10
  - cf_xarray>=0.3.1    # min version 0.3.1 for dependencies
  - cftime
  - dask
  - distributed
  - eofs
  - metpy
  - scipy
  - numpy
  - pandas
  - xarray
  - xskillscore>=0.0.17
  - uxarray>=2025.10.0
# Packages listed below are for testing
  - geocat-datafiles
  - netcdf4
  - pint
  - pytest
  - pytest-cov
# The package below is for formatting standards
  - pre-commit
