name: geocat_comp_build
channels:
  - conda-forge
  - ncar
dependencies:
  - python
  - cf_xarray>=0.3.1
  - cftime
  - dask
  - distributed
  - eofs
  - geocat-datafiles  # for tests
  - geocat-f2py
  - metpy
  - netcdf4  # for tests
  - numpy
  - pip
  - pytest  # for tests
  - pytest-cov  # for tests
  - xarray
  - pip:
      - pre-commit
