name: geocat_comp_build
channels:
  - conda-forge
dependencies:
  - python>=3.8, <3.11  # minimum support 3.8, 3.11 not yet fully supported
  - cf_xarray>=0.3.1    # min version 0.3.1 for dependencies
  - cftime
  - dask
  - distributed
  - eofs
  - geocat-f2py
  - metpy
  - numpy
  - pint
  - xarray
  - xskillscore
# Packages listed below are for testing
  - geocat-datafiles
  - netcdf4
  - pytest
  - pytest-cov
# The package below is for formatting standards
  - pre-commit
