name: geocat_comp_build
channels:
  - conda-forge
  - ncar
dependencies:
  - python
  - dask
  - distributed
  - eofs
  - geocat-f2py
  - netcdf4
  - numpy
  - pytest
  - pip 
  - pip:
    - git+https://github.com/pydata/xarray.git
    - git+https://github.com/xarray-contrib/cf-xarray.git
