name: geocat_comp_build
channels:
  - conda-forge
dependencies:
  - python>=3.8, <3.11
  - cftime
  - dask
  - distributed
  - eofs
  - geocat-datafiles  # for tests
  - geocat-f2py
  - metpy
  - netcdf4  # for tests
  - numpy
  - pint<0.20
  - pytest  # for tests
  - pytest-cov  # for tests
  - pip
  - xskillscore
  - pip:
    - git+https://github.com/pydata/xarray.git
    - git+https://github.com/xarray-contrib/cf-xarray.git
