name: geocat_comp_build
channels:
  - conda-forge
  - ncar
dependencies:
  - python
  - cftime
  - dask
  - distributed
  - eofs
  - geocat-datafiles  # for tests
  - geocat-f2py
  - metpy
  - netcdf4  # for tests
  - numpy
  - pytest  # for tests
  - pytest-cov  # for tests
  - pip
  - pip:
    - git+https://github.com/pydata/xarray.git
    - git+https://github.com/xarray-contrib/cf-xarray.git
