ci:
    autofix_prs: false
    autoupdate_schedule: monthly

repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
     # Run the linter.
     - id: ruff
       types_or: [ python, pyi ]
       args: [ --fix ]
     - id: ruff-format
       types_or: [ python, pyi ]

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

-   repo: https://github.com/pre-commit/pre-commit-hooks    # Some common pre-commit hooks
    rev: v6.0.0
    hooks:
    - id: check-yaml               # Checks the syntax of .yaml files.
      args: [--allow-multiple-documents]
      exclude: 'meta.yaml'    # Exclude this because it gives an error for '%' in Line 1 and couldn't fix yet
    - id: end-of-file-fixer        # Makes sure files end with a newline.
    - id: trailing-whitespace      # Checks for any tabs or spaces after the last non-whitespace character on the line.
    - id: check-docstring-first    # Checks that code comes after the docstrings.
    - id: check-yaml               # Check valid yml file

-   repo: https://github.com/keewis/blackdoc
    rev: v0.4.6
    hooks:
    - id: blackdoc
      additional_dependencies: [ "black==25.11.0" ]
      args: ["--skip-string-normalization"]  # ignore normalizing quotes to double quotes
      types_or: [rst, markdown]
