# This file is redundant with setup.cfg;
# it exists to let GitHub build the repository dependency graph
# https://help.github.com/en/github/visualizing-repository-data-with-graphs/listing-the-packages-that-a-repository-depends-on

cf_xarray>=0.3.1
cftime
dask[array]
eofs
metpy
numpy
scipy
xarray<=2023.02.0 #pin per issue #381
xskillscore
packaging
