/* override the default image top css */
.sd-card-img-top {
    width: 15% !important;
    position: absolute !important;
    padding-left: 10px;
    min-width: 50px;
    top: 50%;
    transform: translateY(-50%);

}

/* override the default background image behavior */
.sd-card-img {
    height: auto;
}

html[data-theme="light"] {
    --pst-color-primary: #0057C2;
    --pst-color-secondary: #00357A;
    --pst-color-table-row-hover-bg: #42C0FF;
}

html[data-theme="dark"] {
    --pst-color-primary: #42C0FF;
    --pst-color-secondary: #FAA119;
    --pst-color-table-row-hover-bg: #00357A;
